@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/*---------------RESPONSIVO------------*/

/*talet*/
@media only screen and (max-width: 375px) {
  * {
    margin: 0;
    padding: 0;
   
  }
  main{ width: 100%;}
  h2 {
    font-size: 1.5rem;
  }
  h1 {
    width: 80%;
    font-size: 3rem;
  }

  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  ul {
    display: none;
  }
 
  .btn-faleConosco {
    display: none;
  }
  .btn-Orçamento {
    display: none;
  }
  .logo-empresa {
    display: none;
    cursor: pointer;
  }
  .hero {
    width: 90vw;
    height: 90% ;
  }
  .placa-solar {
    width: 70%;
  }

  #page-quemSomos {
    width: 100%;
    margin: 2rem 0;
    padding: 0;
  }
  #text-quem-somos {
    width: 100%;
  }
  .itens-comoFunciona {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .quemSomos {
    width: 90%;
    font-size: 18px;
    text-align: justify;
  }

  .imgComoFunciona {
    width: 90%;
  }
  .itens-comoFunciona {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 50px 0px;
  }

  .como-funciona {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  #title-como-funciona {
    width: 90%;
  }

  #text-como-funciona {
    font-size: 18px;
    text-align: justify;
    width: 90%;
  }

  .cards{
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
   }

  .card{width: 305px;
  padding: 20px;}
  
  
 .section-parceiro{

  width: 100%;
 }

 .title-parceiro{
  margin-bottom: 20px;

 }
 .img-parceiros{
  display: none;}

 .img-parceiros-mobile { 
  display:flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  width: 80%;}

  #img-parceiros-mobile{
    width: 90%;
  }

  footer{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer,.container-copyRight{
  width: 100%;
}


.end, .insta{ font-size: 9px;
}
.end{
  padding-left: 20px ;
}
.insta{ padding-right: 20px;}

.container-copyRight{ 
  flex-direction: column;
  align-items: center;
}}