.cards {
    display: flex;
    gap: 10px;
  }
  
  .card {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #333;
  }
  
  .modal {
    display: none; /* Modal escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo transparente */
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
  }
  
  .modal-image img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .modal-text h2, .modal-text p {
    text-align: center;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
  